@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto';
}

body {
    background-color: rgba(0, 0, 0, 0.893);
    background-image: url(/assets/img/wallpapper_black/7.jpg);
}

/*************** MENU ******************/

.navbar {
    position: absolute;
    padding: 10px 0 10px 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar a {
    color: white;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
    margin-left: 90px;
    margin-top: 20px;
}

#logo_rat {
    width: 7%;
    position: fixed;
    top: 0%;
    left: 0%;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 20px;
}

ul li:hover a {
    color: rgb(255, 30, 0);
}

.logo:hover {
    color: rgb(255, 0, 0);
}

.navbar .menu-hamburger {
    display: none;
    width: 35px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    margin: 35px;
}

@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
        position: fixed;
    }

    .navbar .logo {
        position: absolute;
        top: 35px;
        left: 50px;
    }

    .navbar .menu-hamburger {
        display: block;
    }

    .nav-links {
        position: absolute;
        background-color: rgba(10, 10, 10, 0.712);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
}

table {
    position: absolute;
    margin-left: 25%;
    margin-top: 10%;
}

table td {
    padding: 80px;
}

thead tr td {
    border: 2px solid black;
    background-color: rgba(210, 204, 204, 0.295);
    text-align: center;
}

h1 {
    padding-bottom: 30px;
}

input {
    font-size: 25px;
}

@media screen and (max-width: 900px) {
    main {
        z-index: 3;
    }

    nav {
        z-index: 1;
    }
}

@media screen and (max-width: 900px) {
    table {
        margin: auto;
        margin-top: 30%;
    }
}

h1 {
    font-size: 40px;
    font-weight: bold;
}
