@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto';
    background-image: url(/assets/img/wallpapper_black/7.jpg);
    background-attachment: fixed;
}

/***************** MENU ******************/

.navbar {
    position: absolute;
    padding: 10px 0 10px 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar a {
    color: white;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 20px;
}

#logo_rat {
    width: 7%;
    position: fixed;
    top: 0%;
    left: 0%;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 20px;
}

ul li:hover a {
    color: rgb(255, 0, 0);
}

.logo:hover {
    color: rgb(255, 0, 0);
}

.test {
    position: fixed;
    top: 0;
}

.navbar .menu-hamburger {
    display: none;
    width: 35px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    margin: 35px;
}

@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }

    .navbar .logo {
        position: absolute;
        top: 35px;
        left: 50px;
    }

    .navbar .menu-hamburger {
        display: block;
    }

    .nav-links {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.712);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
}

#la_nutrition {
    display: flex;
    justify-content: center;
    padding-top: 15%;
    padding-bottom: 10%;
    font-size: 40px;
    color: white;
    padding-left: 5%;
}

.color {
    color: #ffffffd3;
    margin-top: 5%;
    font-size: 25px;
}

ul {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

ul li a {
    color: rgb(255, 255, 255);
}

.titre {
    color: #ffffff;
    margin-left: auto;
    margin-top: 15%;
    font-size: 40px;
    text-align: center;
    padding-left: 5%;
    margin-bottom: 10%;
}

.p {
    font-size: 17px;
    padding-top: 20px;
    text-align: justify;
    font-weight: 700;
    line-height: 30px;
    color: #8f8e8e;
}

.p_b {
    font-size: 17px;
    padding-top: 20px;
    text-align: justify;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;
}

.text_img {
    font-size: 25px;
    padding-bottom: 10px;
}

.container {
    width: 50%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.571);
}

.container1 {
    width: 100%;
    display: flex;
}

.container2 {
    width: 33%;
    color: white;
    text-align: center;
    justify-content: space-around;
}

.img {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.border {
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    padding: 7px;
}

.pre_liste {
    color: #ffffffd3;
    margin-top: 5%;
    font-size: 20px;
}

.petit_texte {
    font-size: 15px;
    color: grey;
    margin-top: 7px;
}

table {
    border: 1px solid white;
    width: 600px;
    height: 300px;
    margin-top: 50px;
    color: white;
}

td {
    text-align: center;
}

tr td {
    border: 1px solid white;
    text-align: justify;
    padding: 5px 0 5px 15px;
}

.tableau_centre {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
