@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto';
    background-color: rgba(0, 0, 0, 0.909);
    color: rgba(255, 255, 255, 0.707);
    background-image: url(../../assets/img/wallpapper_black/7.jpg);
}

/***************** MENU ******************/
/***************** MENU ******************/
/***************** MENU ******************/
/***************** MENU ******************/

.navbar {
    padding: 10px 0 10px 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar a {
    color: rgb(255, 255, 255);
}

.navbar ul li a {
    font-weight: 700;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
    margin-left: 90px;
    margin-top: 20px;
}

#logo_rat {
    width: 7%;
    position: fixed;
    top: 0%;
    left: 0%;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 20px;
}

ul li:hover a {
    color: rgb(255, 0, 0);
}

.logo:hover {
    color: rgb(255, 0, 0);
}

.navbar .menu-hamburger {
    display: none;
    width: 35px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    margin: 35px;
}

@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }

    .navbar .logo {
        position: absolute;
        top: 35px;
        left: 50px;
    }

    .navbar .menu-hamburger {
        display: block;
    }

    .nav-links {
        /* position: absolute; */
        background-color: rgba(255, 255, 255, 0.712);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
}

/***************** Main ******************/
/***************** Main ******************/
/***************** Main ******************/
/***************** Main ******************/

.container {
    width: 50%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.613);
}

#mesprogrammes {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    padding-top: 5%;
}

.titre_ppl {
    color: #ffffff;
    margin-left: auto;
    margin-top: 15%;
    font-size: 40px;
    text-align: center;
    padding-left: 5%;
    margin-bottom: 10%;
}

.description_p {
    font-size: 17px;
    padding-top: 20px;
    text-align: justify;
    font-weight: 700;
    line-height: 30px;
    color: #8f8e8e;
}

.définition {
    color: #ffffffd3;
    margin-top: 5%;
    font-size: 25px;
}

#muscle_trav {
    margin-left: 20px;
    margin-top: 25px;
    font-size: 17px;
    font-weight: 200;
    margin-left: 30px;
}

table {
    border: 1px solid white;
    width: 600px;
    height: 300px;
    margin-top: 50px;
}

td {
    text-align: center;
}

tr td {
    border: 1px solid white;
}

.tableau_centre {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    color: #5a8ed6;
}

ul {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 5%;
}

ul li a {
    color: rgb(255, 255, 255);
}

#prog {
    font-size: 25px;
    font-weight: bold;
}

.border {
    margin-top: 40px;
}

.img_ppl {
    width: 90%;
}

#img_fb {
    padding-top: 20px;
}
